html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#quarto-content {
  flex: 1 0 auto;
}
byu-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;          /* full viewport width (ignores page gutters) */
  z-index: 1100; 
}
byu-footer {
  flex-shrink: 0;
}

#quarto-margin-sidebar {
  position: sticky;
  top: 4rem; 
  max-height: calc(100vh - 2rem);
  overflow-y: auto;
}

.page-columns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.page-content {
  flex: 1;
}
